@import '~node_modules/modern-normalize/modern-normalize.css';

.section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  display: none;
}
